<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Admin Panel</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <%- include("partials/header", { user: user || null }) %>

<div class="container">
  <h2>Admin Dashboard</h2>

  <div class="card">
    <h3>Add Route</h3>

    <form id="addRouteForm">
      <input type="text" id="citiesInput" placeholder="Cities" required />

      <div class="grid">
        <input type="number" id="pricePerSegment" placeholder="Price" />
        <input type="number" id="maxPassengers" placeholder="Passengers" />
      </div>

      <button class="btn">Add</button>
    </form>
  </div>

  <div id="routesContainer"></div>
</div>
<script src="/js/auth.js"></script>
<script src="/js/admin.js"></script>
</body>
</html>