<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Route</title>
    <link rel="stylesheet" href="/css/admin.css" />
  </head>

  <body>
    <header>
      <ul>
        <li  onclick="showSection('addRoute')">Add Route</li>
        <li onclick="showSection('routesList')">Routes</li>
        <li onclick="showSection('reservations')">Reservations</li>
      </ul>
    </header>
    <div class="container">
      <h1>Add Route</h1>

      <form id="routeForm">
        <h3>From</h3>

        <input type="text" id="fromCity" placeholder="City" required />
        <h3>Stops</h3>

        <div id="stopsContainer"></div>

        <button type="button" id="addStop">+ Add Stop</button>

        <h3>To</h3>

        <input type="text" id="toCity" placeholder="City" required />
        <br /><br />

        <input
          type="number"
          id="pricePerSegment"
          placeholder="Price per segment"
        />

        <input type="number" id="maxPassengers" placeholder="Max passengers" />

        <br /><br />

        <button type="submit">Create Route</button>
      </form>
    </div>

    <script src="../public/js/admin.js" defer></script>
  </body>
</html>
