<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reset Password</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <%- include("partials/header", { user: user || null }) %>

  <div class="auth-container">
    <h2>Reset Password</h2>
  
    <form id="resetForm">
      <input type="password" id="password" placeholder="New password" required />
      <button type="submit">Reset</button>
    </form>
  
    <p id="message"></p>
  </div>
  
  <script>
  const token = "<%= token %>";
  </script>
  
  <script src="/js/resetPassword.js"></script>
</body>
</html>