<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Reserve Trip</title>
    <link rel="stylesheet" href="/css/admin.css" />
  </head>

  <body>
    <div class="container">

      <h2>Reserve Trip</h2>

      <select id="routeSelect"></select>

      <select id="fromCity"></select>

      <select id="toCity"></select>

      <input type="number" id="passengers" placeholder="Passengers" />

      <button id="reserveBtn">Reserve</button>

      <hr/>

      <h2>My Reservations</h2>
      <div id="reservationsContainer"></div>

    </div>

    <script src="/js/user.js"></script>
  </body>
</html>
