:root{
    --bg-color:#0d0451;
    --second-bg-color:  #06022f;
    --text-color: #9fbee1;
    
}

html, body {
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-size: 60%;
    min-height: 100vh;
    background-size: cover;

    font-family: 'Poppins', sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}


header {
    width: 100%;
    height: 6rem;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(100px);
    background-color: var(--second-bg-color);
    display: flex;
    justify-content: space-between;
    top: 0;
    margin: 0; 
    padding: 0; 
    left: 0;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    font-size: large;
}

.head-right {
    text-decoration: none;
    font-size: clamp(1rem, 2.0rem, 2.5rem);
    color: var(--text-color);
    font-weight: 800;
    padding: 0.1%;
    margin-left: 5%;
    animation: h-right 1s ease forwards;
}


.nav-list {
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 0;
    justify-content:space-between;
    float: right;
    margin-right: 5%;
    animation: n-list 1s ease forwards;
    z-index: 10;
}

.nav-list li .box-icon {
    width: 25px;
    height: 25px;
    stroke: #9fbee1; 
    stroke-width: 0.8px;     
}

.nav-list li {
    display: flex;
    flex-direction: column; 
}

.nav-list li span{
    visibility: hidden;
    font-size: clamp(0.4rem, 0.625rem, 0.8rem);
    color: var(--text-color);
    justify-content: center;
}

.nav-list li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; 
}

.nav-list li:hover span{
    visibility: visible;
    transform: translateY(20%);
    font-size: clamp(0.9rem, 1.1rem, 1.3rem);
    transition: ease-in 0.9s;
}

.nav-list li:hover .box-icon {
    transform: scale(120%);
    transition: ease-in 0.9s;
    gap: 15px;
}

@keyframes n-list {
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}


@keyframes h-right {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

.main {
  width: 90%;
  margin: auto;
  font-size: 1.6rem;
  line-height: 1.7;

}


.title {
    position: sticky;
    top: 6rem;
    font-size: clamp(2.5rem, 4rem, 5rem);
    color: #fff;
    width: 100%;
    background-color:#ccc
}

.title:nth-of-type(1) { top: 6rem; }
.title:nth-child() { top: 12rem; }
.title:nth-of-type(3) { top: 18rem; }
.title:nth-of-type(4) { top: 24rem; }
.title:nth-of-type(5) { top: 30rem; }
.title:nth-of-type(6) { top: 36rem; }

.main p {
 margin: 20px 0 120px;
    font-size: 24px;
  text-align: justify;
  color: #ccc;
}
