body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
}

header {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img{
    margin: 10px 0;
    height: 10rem;
    width: 100%;
    display: flex;
}

.search-div{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(16, 16, 16);
}

#title-input{
    width: 700px;
    font-size: 25px;
    padding: 8px 0;
    border-radius: 15px;
    margin: 15px 35px;
    text-align: center;
    border: none;
    outline: 2px solid red;
    background-color: rgb(33, 33, 33);
}

#title-input:focus{
    color: rgb(218, 218, 218);
    background-color: rgb(75, 75, 75);
}

#search-btn{
    width: 100px;
    height: 45px;
    border-radius: 10px;
    background-color: #E50914;
    border: none;
    color: white;
    font-weight: bold;
}

#search-btn:hover{
    cursor: pointer;
    background-color: darkred;
}

nav ul{
    display: flex;
    gap: 35px;
    justify-content: center;
    font-size: 56px;
}

nav ul li{
    list-style: none;

}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

main{
    position: relative;
    top: 550px;
    padding: 0 10px;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.show-card{
    position:relative;
    display: flex;
    flex-direction: column; 
    border-radius: 20px;
    justify-content: center;
    border: 2px solid red;
    padding-bottom: 15px;
    width: 200px;

}

.show-card img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.show-card h2{
     color: whitesmoke;
    text-align: center;
    font-size: 20px;
    white-space: normal;
    overflow-wrap: break-word;
    margin: 10px 12px;
}

.show-card a{
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    font-size: 12px;
}

.show-card a:hover{
    cursor: pointer;
}

.show-card:hover{
    transform: scale(1.1);
    box-shadow: 5px 3px 3px rgb(99, 1, 1);
    transition: 0.5s ease;
}

.favorite-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: rgba(16, 16, 16, 0.5);
    font-size: 32px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10
}