body{
    background-color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100wh;
}
main{
    margin: auto;
    padding: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#blogForm {
    background: white;
    width: 380px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
}

#blogForm label {
    font-weight: bold;
}

#blogForm input,
#blogForm textarea {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 15px;
}

#blogForm textarea {
    min-height: 100px;
}

#blogForm button {
    padding: 12px;
    background: #0077ff;
    border: none;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.blogImageCell {
    width: 80px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    border-radius: 8px;
    overflow: hidden; /* за да важи border-radius */
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

/* Header */
thead {
    background: #222;
    color: white;
}

th {
    padding: 14px;
    font-size: 16px;
    letter-spacing: 0.5px;
}

tbody tr {
    background: #f7f7f7;
    transition: 0.25s ease;
}

tbody tr:nth-child(even) {
    background: #ececec;
}

tbody tr:hover {
    background: #d8ffd8;         
    cursor: pointer;
}

td {
    padding: 12px 14px;
    font-size: 15px;
    color: #333;
    line-height: 1.4;
    text-align: center;
    height: 20px;
}
