body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 100vh;
}


.main{
    width: 900px;
    height: 600px;
    margin: auto;
    padding: auto;
    justify-content: center;
    align-items: center;
    background: #dad6d6;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.upper_part{
    width: 95%;
    height: 40%;
    display: flex;
    gap: 20px;
    margin: auto;
    padding: auto;
    margin-top: 20px;
    line-height: 10px;
    justify-content: center;
    align-items: center;
}

.upper_part img {
    width: 200px;
    height: 200px;
}

.text{
    width: 90%;
}

.upper_part .text h1{
    font-size: 100px;
    font-weight: 100;
    color: #333;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

.upper_part .text{
    font-size: 25px;
    font-weight: 600;
    color: #333;
    text-align: right;
}

.h33{
    font-family: 'arial', sans-serif;
    font-size: 28px;
    font-weight: normal;
}

.lower_part{
    width: 95%;
    height: 50%;
    margin: auto;
    padding: auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.left_side{
    width: 60%;
    height: 90%;
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-self: start;
}

.left_side img{
    width: 100%;
    height: 100px;
}

.right_side{
    width: 50%;
    height: 90%;
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right_side img{
    width: 300px;
    height: 300px;
}

.paragrah-div{
    font-size: 20px;
    font-weight: 600;
    color: #333;
    align-items: center;
    text-align: center;
}

.right_side p{
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-top: 10px;
}