body {
  font-family: Arial, sans-serif;
  background: #f3f3f3;
  margin: 0;
  padding: 20px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add-todo-input{
  padding: 10px 14px;
  margin-right: 15px;
  border-radius: 20px;
}
body.dark-mode {
  background: #111;
  color: white;
}


.dark-toggle {
  background: yellow;
  color: black;
}

#title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  color: rgb(0, 64, 255);
}

.underline {
  text-decoration: underline;
}

.title {
  font-weight: bold;
}

.btn {
  padding: 10px 14px;
  margin-right: 8px;
  border: none;
  background: #333;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.btn:hover,
.btn.btn-hover {
  background: #555;
}

.dark-mode-btn {
  margin-top: 20px;
}

.todos-container {
  margin-top: 25px;
  width: 80%;
}

.todo,
.completed {
  background: white;
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.completed {
  background: #c8ffc8;
}

.todo:hover {
  background: #f6f6f6;
}

.completed:hover {
  background: #b1ffb1;
}

.completed-title {
  text-decoration: line-through;
  color: gray;
}

/* BUTTON inside todo */
.btn-complete {
  margin-top: 10px;
  padding: 8px 12px;
  background: #1080ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-complete:hover {
  background: #0a66cc;
}
